@media (max-width: 330px) {
    .container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .home__images {
        width: 245px;
        height: 320px;
    }

    .home__liquid {
        width: 250px;
        left: 0;
    }

    .home__juice {
        width: 100px;
    }

    .home__apple1,
    .home__apple2 {
        width: 70px;
    }
}

@media (min-width: 767px) {
    .nav {
        height: calc(var(--header-height) + 1.5rem);
    }

    .nav__toggle,
    .nav__close,
    .nav__img {
        display: none;
    }

    .nav__list {
        flex-direction: row;
        column-gap: 3rem;
    }

    .home__container {
        grid-template-columns: 1fr max-content;
        align-items: center;
        column-gap: 4rem;
        padding-top: 4rem;
    }
}

@media (min-width: 1024px) {
    .home__images {
        width: 530px;
        height: 590px;
    }

    .home__liquid {
        width: 53px;
    }

    .home__juice {
        width: 220px;
        left: 0;
        top: 1.5rem;
    }

    .home__apple1 {
        width: 180px;
        top: 10rem;
        left: -1rem;
    }

    .home__apple2 {
        width: 200px;
        left: 17rem;
        bottom: 5.5rem;
    }

    .home__leaf:nth-child(1),
    .home__leaf:nth-child(6) {
        width: 70px;
    }

    .home__leaf:nth-child(2),
    .home__leaf:nth-child(4),
    .home__leaf:nth-child(5) {
        width: 60px;
    }

    .home__leaf:nth-child(1) {
        top: -1rem;
        right: 2rem;
    }

    .home__leaf:nth-child(2) {
        top: 2.5rem;
        left: 2.25rem;
    }

    .home__leaf:nth-child(3) {
        width: 40px;
        top: 12rem;
        right: 10rem;
    }

    .home__leaf:nth-child(4) {
        bottom: 8rem;
        left: 4.5rem;
    }

    .home__leaf:nth-child(5) {
        right: 10rem
    }

    .home__leaf:nth-child(6) {
        bottom: 1rem;
        left: -8rem;
    }

    .home__shape--small {
        width: 400px;
        height: 400px;
        top: 0;
        left: -15rem;
    }

    .home__shape--big {
        width: 500px;
        height: 500px;
        top: 22rem;
    }
}

@media (min-width: 1048px) {
    .container {
        margin-left: auto;
        margin-right: auto;
    }
}